.footer-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

.footer-container{
    position: absolute;
    width: 100%;
    background: #1976d2;
    color: white;
    position: fixed;
    padding: 10px;
}





ul{
    /*list-style-type: none;*/
    overflow: hidden;
}

li{
    float: none;
    display: inline-block;
}

a{
    padding: 4px;
    background-color: transparent;
    text-decoration: none;
    color: white;
}

 