

.footer-container{
    width: 100%;
    background: #1976d2;
    color: white;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    position: static;
    text-align: center;
}

ul{
    /*list-style-type: none;*/
    overflow: hidden;
}

li{
    float: none;
    display: inline-block;
}

a{
    padding: 4px;
    background-color: transparent;
    text-decoration: none;
    color: white;
}

 