<nav class="navbar navbar-expand-lg  justify-content-between">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars" style="color:white;"></i>
    </button>
  <div class="navbar-brand">
    <img src="../../assets/logo.png" height="36" width="36"> Çekiliş Kura
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li *ngFor="let link of links" class="nav-item">
      </li>
    </ul>
  </div>
  <a id="navBar" class="navbar-brand" href="#" style="font-size: 2em; color:white;">
    <i class='fab fa-github'></i>
  </a>
</nav>