<app-header></app-header>
<div id="body-container" class="container-fluid mt-2 bg-success">
    <div class="row justify-content-center">
        <div class="col-md-2 bg-warning h-100">
                <app-input-item></app-input-item>
            <!--<div class="card">
                <div class="card-body">
                    <app-input-item></app-input-item>
                </div>
            </div>-->
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <div class="card-body">
                    <app-advertisement></app-advertisement>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>