/* You can add global styles to this file, and also import other style files */

fa-twitter{
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: transparent;
    color: white !important;
}

.fa-twitter:hover{
    color: #00aced;
}

.fa-linkedin {
    /*padding:10px 14px;*/
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
    color: white;
}
.fa-linkedin:hover {
    color: #0073a4;
}

.fa-medium {
    /*padding:10px 14px;*/
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
    color: white;
}
.fa-medium:hover {
    color: #00E66C;
}

.fa-github {
    /*padding:10px 14px;*/
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: transparent;
    color: white;
}
.fa-github:hover {
    color:#040204;
}

.c-white{
    color: white;
}